DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/accountability_appalachia?sslmode=require"
NEXT_PUBLIC_APP_NAME="Accountability Appalachian"
ADMIN_EMAIL="bucklulu481@gmail.com"
ADMIN_PASSWORD="brownbimmer2026"
SESSION_SECRET="obamaisnotmypresident"
CRON_SECRET="obama2024"
